@import "styles/spectate";

// Uncomment the next line if this project is an full-page Eye lead
// @import 'styles/eye-lead-ellipsis';
// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

body {
  // Arc's overflow hidden on <body> messes up position sticky
  overflow-x: visible !important;
}

.graphic-name {
  height: 300px;
  border: 1px solid red;
  color: red;
}

.intro {
  background-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  .background {
    position:absolute;
    z-index:1;
    top:0;
    width:97%;
    height: 100%;
    background-image: (url("ai2html/storytelling-woooooo-Artboard_1.svg"));
    background-repeat: no-repeat;
    background-position: center;
  }
  p {
    z-index:2;
    position: relative;
    top: 14.5%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 37%;
    font-size: 28px;
    font-family: "Roboto", arial, helvetica, sans-serif;
    line-height: 40px;
  }
  #scroll {
    top:16%;
    font-family:"Roboto-lightItalic", sans-serif;
    color:rgb(204,204,204);
    font-size:26px;
  }
}
.g-pstyle0 {
  line-height: 6px;
  height: 32px !important;
  font-size: 120px;
  color: rgb(209, 56, 56);
  position: relative;
  top: 35px;
}


.m-fadeOut {
  visibility: hidden !important;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1000ms;
  transition-delay:0.5s;
}

.snap {
  height:100%;
}